#sidebar {
    position: fixed;
    top: 70px;
    height: calc(100vh - 70px);
    width: 270px;
    overflow: hidden;
    left: -270px;
    transition: all 0.3s ease;
    z-index: 99;
    background: #333;
}

#sidebar.active {
    left: 0;
}

.list-items {
    position: relative;
    width: 100%;
    height: calc(100% - 65px);
    padding-top: 10px;
}

.bottom-items {
    position: absolute;
    width: 200%;
    bottom: 20px;
    left: 0;
    width: 100%;
}

.sidebar-item {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid #333;
    transition: all 0.3s ease;
}

.sidebar-item:hover {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    box-shadow: 0 0px 10px 3px #222;
}

.sidebar-item:first-child {
    border-top: none;
}

.sidebar-item a {
    padding: 15px 20px;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebar-item a .icon {
    margin-right: 10px;
}

.sidebar-item a p {
    color: white
}

.bottom-items .sidebar-item button {
    padding: 15px 20px;
    color: red;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    align-items: center;
    background: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    margin: 0;
}

.bottom-items .sidebar-item button p {
    padding-left: 15px;
    color: red;
    display: flex;
    align-items: center;
    background: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    margin: 0;
}